version: '3.1'
services:
  postgres:
    image: postgres:9.6
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: admin
      POSTGRES_DB: uptick
    ports:
      - 5432:5432
    volumes:
      - /data/postgres-data-uptick:/var/lib/postgresql/data